<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/carmel.css">
    <title>Carmel Software Solutions - Customer Journey</title>
</head>

<body>
    <section class="min-height-full background-color-grey" aria-label="Customer Journey">
        <div class="flex-container-row min-height-full">
            <div class="width-five background-color-white">
                <div class="flex-container-center-column">
                    <div style="padding-top:2vh;width: 50%;" class="flex-container-center-row">
                        <a href="../views/home.html#distruptive-ideation">
                            <img src="../images/cw-icons-08.png" alt="" class="back-icon-size">
                        </a>
                    </div>

                    <div style="padding-top: 5vh;width: 50%;padding-bottom: 3vh;">
                        <span class="distruptive-ideation-text">disruptive ideation</span>
                    </div>
                    <div style="padding-top: 5vh;width: 50%;">
                        <div class="flex-container-center-row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%"
                                viewBox="0 0 23.11 450.95">
                                <defs>
                                    <style>
                                        .cls-1-line {
                                            fill: none;
                                        }

                                        .cls-1-line,
                                        .cls-2-line {
                                            stroke: #939393;
                                            stroke-miterlimit: 10;
                                        }

                                        .cls-2-line {
                                            fill: #fff;
                                        }

                                        .cls-3-line {
                                            fill: #8296AD;
                                        }
                                    </style>
                                </defs>
                                <title>cw-images</title>
                                <g id="Layer_12" data-name="Layer 12">
                                    <g id="Group_19-2" data-name="Group 19-2">
                                        <line id="Line_84-2" data-name="Line 84-2" class="cls-1-line" x1="11.55"
                                            y1="1.03" x2="11.55" y2="410.1" />
                                        <g id="Group_14-3" data-name="Group 14-3">
                                            <circle id="Ellipse_49-3" data-name="Ellipse 49-3" class="cls-2-line"
                                                cx="11.55" cy="11.54" r="10.88" onclick="window.location.href='../views/generative-analytics.html'" />
                                        </g>
                                        <g id="Group_15" data-name="Group 15">
                                            <circle id="Ellipse_50" data-name="Ellipse 50" class="cls-2-line" cx="11.55"
                                                cy="111.93" r="10.88" onclick="window.location.href='../views/people-personas.html'" />
                                        </g>
                                        <g id="Group_16-2" data-name="Group 16-2">
                                            <circle id="Ellipse_51-2" data-name="Ellipse 51-2" class="cls-2-line"
                                                cx="11.55" cy="212.32" r="10.88" onclick="window.location.href='../views/empathy-maps.html'" />
                                        </g>
                                        <g id="Group_17-2" data-name="Group 17-2">
                                            <circle id="Ellipse_52-2" data-name="Ellipse 52-2" class="cls-2-line"
                                                cx="11.55" cy="312.71" r="10.88" />
                                        </g>
                                        <g id="Group_18-2" data-name="Group 18-2">
                                            <circle id="Ellipse_53-2" data-name="Ellipse 53-2" class="cls-2-line"
                                                cx="11.55" cy="413.1" r="10.88" onclick="window.location.href='../views/rapid-prototype.html'"  />
                                        </g>
                                        <circle id="Ellipse_170-2" data-name="Ellipse 170-2" class="cls-3-line"
                                            cx="11.55" cy="312.71" r="6.78" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-self-center" style="padding-left:5%;padding-right:5%;width: 55%">
                <div style="min-height:40vh">
                    <p class="white-color distruptive-sub-section-title-text">CUSTOMER</p>
                    <p class="white-color distruptive-sub-section-title-text">JOURNEY</p>
                    <p class="distruptive-sub-section-desc-text width-eighty dark-blue-color">Putting into perspective the abstract
                        intersections between user expectations and business requirements. We do this with visual
                        interpretation of the overall story from an individual's perspective.</p>
                </div>
                <div>
                    <a href="../views/empathy-maps.html">
                        <img src="../images/cw-icons-07.png" alt="" class="back-page-img-empathy">
                    </a>
                    <a href="../views/rapid-prototype.html">
                        <img src="../images/grey-right-arrow.png" alt="" class="next-page-img-empathy">
                    </a>
                </div>
            </div>
            <div class="align-self-center" style="padding-right: 5%;width: 40%">
                <div class="full-width full-height">
                    <svg xmlns="http://www.w3.org/2000/svg" width="90%" height="80%" viewBox="0 0 364.5 359.77">
                        <defs>
                            <style>
                                .cls-1,
                                .cls-2,
                                .cls-4,
                                .cls-5,
                                .cls-8 {
                                    fill: none;
                                }

                                .cls-1,
                                .cls-10,
                                .cls-11,
                                .cls-12,
                                .cls-2,
                                .cls-3,
                                .cls-4,
                                .cls-5,
                                .cls-6,
                                .cls-7,
                                .cls-8,
                                .cls-9 {
                                    stroke: #fff;
                                }

                                .cls-1,
                                .cls-10,
                                .cls-2,
                                .cls-3,
                                .cls-4,
                                .cls-5,
                                .cls-7,
                                .cls-8,
                                .cls-9 {
                                    stroke-miterlimit: 10;
                                }

                                .cls-2,
                                .cls-4,
                                .cls-5,
                                .cls-6 {
                                    stroke-width: 0.25px;
                                }

                                .cls-2 {
                                    stroke-dasharray: 6;
                                }

                                .cls-10,
                                .cls-11,
                                .cls-3,
                                .cls-6,
                                .cls-7 {
                                    fill: #8196ac;
                                }

                                .cls-11,
                                .cls-5 {
                                    stroke-linecap: round;
                                }

                                .cls-7 {
                                    stroke-width: 0.75px;
                                }

                                .cls-10,
                                .cls-11,
                                .cls-8,
                                .cls-9 {
                                    stroke-width: 0.5px;
                                }

                                .cls-11 {
                                    stroke-linejoin: round;
                                }
                            </style>
                        </defs>
                        <title>cw-images</title>
                        <g id="Layer_6" data-name="Layer 6">
                            <g id="Group_234" data-name="Group 234">
                                <path id="Path_283" data-name="Path 283" class="cls-1"
                                    d="M177.51,12.65l62,106.88,107,62.09L238.73,243.53,177.51,350.59,114.9,243.53,8.54,181.62,114.9,119.7Z" />
                                <path id="Path_284" data-name="Path 284" class="cls-1"
                                    d="M114.9,119.71H238.73V243.53H114.9Z" />
                                <g id="Group_188" data-name="Group 188">
                                    <rect id="Rectangle_33" data-name="Rectangle 33" class="cls-2" x="58.03" y="62.83"
                                        width="238.96" height="238.96" />
                                    <line id="Line_152" data-name="Line 152" class="cls-2" x1="58.03" y1="62.83"
                                        x2="296.99" y2="301.79" />
                                    <line id="Line_153" data-name="Line 153" class="cls-2" x1="58.03" y1="301.79"
                                        x2="296.99" y2="62.83" />
                                    <line id="Line_154" data-name="Line 154" class="cls-2" x1="177.51" y1="12.65"
                                        x2="177.51" y2="350.59" />
                                    <line id="Line_155" data-name="Line 155" class="cls-2" x1="8.54" y1="181.62"
                                        x2="328.95" y2="181.62" />
                                </g>
                                <path id="Path_285" data-name="Path 285" class="cls-1"
                                    d="M8,181.62,58,62.83,177.51,12.65l119.82,50,49.15,119-49.4,119.84L177.52,350.82,58,301.46Z" />
                            </g>
                            <g id="Mobile">
                                <g id="Group_191" data-name="Group 191">
                                    <g id="Group_190" data-name="Group 190">
                                        <rect id="Rectangle_34" data-name="Rectangle 34" class="cls-3" x="1.04"
                                            y="169.26" width="13.86" height="25" rx="3.04" />
                                    </g>
                                </g>
                                <circle id="Ellipse_137" data-name="Ellipse 137" class="cls-4" cx="8.01" cy="192.52"
                                    r="0.85" />
                                <line id="Line_156" data-name="Line 156" class="cls-5" x1="6.68" y1="170.89" x2="9.06"
                                    y2="170.89" />
                                <line id="Line_157" data-name="Line 157" class="cls-4" x1="1.04" y1="172.04" x2="14.91"
                                    y2="172.04" />
                                <path id="Path_452" data-name="Path 452" class="cls-6" d="M1,191.13H14.91" />
                            </g>
                            <g id="Group_235" data-name="Group 235">
                                <path id="Path_286" data-name="Path 286" class="cls-3"
                                    d="M247,129H232.09V107.4H242.3l4.67,4.67Z" />
                                <line id="Line_159" data-name="Line 159" class="cls-1" x1="242.65" y1="117.66"
                                    x2="235.29" y2="117.66" />
                                <line id="Line_160" data-name="Line 160" class="cls-1" x1="235.29" y1="120.06"
                                    x2="242.65" y2="120.06" />
                                <path id="Path_287" data-name="Path 287" class="cls-7" d="M241.93,107.4v5.18h4.67" />
                            </g>
                            <g id="Group_241" data-name="Group 241">
                                <path id="Rectangle_35" data-name="Rectangle 35" class="cls-3"
                                    d="M165.58,344.7h23.86v8.09a6.05,6.05,0,0,1-6.05,6H171.63a6.05,6.05,0,0,1-6-6h0V344.7Z" />
                                <path id="Path_288" data-name="Path 288" class="cls-3"
                                    d="M189.18,344.7l-11.8-9.54-11.8,9.72" />
                                <path id="Path_289" data-name="Path 289" class="cls-3"
                                    d="M177.36,353.65l-11-8.77h22.2Z" />
                            </g>
                            <g id="Clock">
                                <circle id="Ellipse_140" data-name="Ellipse 140" class="cls-3" cx="114.9" cy="119.7"
                                    r="10.38" />
                                <line id="Line_161" data-name="Line 161" class="cls-8" x1="114.9" y1="109.32" x2="114.9"
                                    y2="111.49" />
                                <line id="Line_162" data-name="Line 162" class="cls-8" x1="114.9" y1="127.92" x2="114.9"
                                    y2="130.09" />
                                <line id="Line_163" data-name="Line 163" class="cls-8" x1="106.69" y1="119.7"
                                    x2="104.52" y2="119.7" />
                                <line id="Line_164" data-name="Line 164" class="cls-8" x1="125.29" y1="119.7"
                                    x2="123.12" y2="119.7" />
                                <path id="Path_293" data-name="Path 293" class="cls-8"
                                    d="M110.91,116.14l4,3.56,5.68-6.18" />
                                <circle id="Ellipse_141" data-name="Ellipse 141" class="cls-9" cx="114.9" cy="119.7"
                                    r="0.37" />
                            </g>
                            <g id="Group_242" data-name="Group 242">
                                <circle id="Ellipse_142" data-name="Ellipse 142" class="cls-3" cx="115.12" cy="243.53"
                                    r="11.91" />
                                <g id="Group_194" data-name="Group 194">
                                    <circle id="Ellipse_143" data-name="Ellipse 143" class="cls-3" cx="116.63"
                                        cy="241.76" r="4.73" />
                                    <line id="Line_165" data-name="Line 165" class="cls-1" x1="108.89" y1="250.03"
                                        x2="113.55" y2="245.34" />
                                </g>
                            </g>
                            <g id="Group_238" data-name="Group 238">
                                <g id="Group_197" data-name="Group 197">
                                    <g id="Group_196" data-name="Group 196">
                                        <circle id="Ellipse_144" data-name="Ellipse 144" class="cls-3" cx="177.51"
                                            cy="12.65" r="11.91" />
                                    </g>
                                </g>
                                <g id="Group_198" data-name="Group 198">
                                    <path id="Path_294" data-name="Path 294" class="cls-10"
                                        d="M171.29,11.3l7.58-4.85c.23-.14.44,0,.44.3l-.1,11.7c0,.27-.11.55-.34.41l-7.58-4.69Z" />
                                    <rect id="Rectangle_36" data-name="Rectangle 36" class="cls-11" x="168.84" y="11.27"
                                        width="2.45" height="2.92" />
                                    <line id="Line_166" data-name="Line 166" class="cls-1" x1="181.09" y1="10.2"
                                        x2="184.2" y2="8.32" />
                                    <line id="Line_167" data-name="Line 167" class="cls-1" x1="181.09" y1="15.1"
                                        x2="184.2" y2="16.98" />
                                    <line id="Line_168" data-name="Line 168" class="cls-1" x1="181.2" y1="12.65"
                                        x2="185.51" y2="12.65" />
                                    <ellipse id="Ellipse_145" data-name="Ellipse 145" class="cls-10" cx="179.14"
                                        cy="12.62" rx="0.89" ry="6.42" />
                                    <path id="Path_295" data-name="Path 295" class="cls-12"
                                        d="M178.26,13.65a1.1,1.1,0,0,0,.65-1.41,1.07,1.07,0,0,0-.65-.65c0,.33,0,.68,0,1S178.25,13.31,178.26,13.65Z" />
                                </g>
                            </g>
                            <g id="Group_237" data-name="Group 237">
                                <rect id="Rectangle_37" data-name="Rectangle 37" class="cls-3" x="236.58" y="234.71"
                                    width="5.21" height="5.21" rx="0.71" />
                                <rect id="Rectangle_38" data-name="Rectangle 38" class="cls-3" x="228.38" y="237.79"
                                    width="21.61" height="14.56" rx="1.19" />
                            </g>
                            <g id="Group_236" data-name="Group 236">
                                <circle id="Ellipse_146" data-name="Ellipse 146" class="cls-7" cx="297.19" cy="49.25"
                                    r="3.38" />
                                <path id="Path_296" data-name="Path 296" class="cls-7"
                                    d="M288.93,64.14V58.79a5.2,5.2,0,0,1,5.2-5.2h5.72a5.2,5.2,0,0,1,5.2,5.2v5.34a1,1,0,0,1-.95.94h-.83a.94.94,0,0,1-.94-.94V59a.75.75,0,0,0-.75-.74h0a.74.74,0,0,0-.74.74V76.06a1.54,1.54,0,0,1-1.54,1.53h0a1.54,1.54,0,0,1-1.53-1.53h0V63.93h-1.56V76.06a1.54,1.54,0,0,1-1.53,1.53h0a1.53,1.53,0,0,1-1.53-1.53h0V58.91a.75.75,0,0,0-.75-.74h-.26a.74.74,0,0,0-.75.74h0v5.24a.94.94,0,0,1-.94.94h-.58A.94.94,0,0,1,288.93,64.14Z" />
                            </g>
                            <g id="Group_239" data-name="Group 239">
                                <circle id="Ellipse_147" data-name="Ellipse 147" class="cls-7" cx="297.19" cy="289.31"
                                    r="3.38" />
                                <path id="Path_297" data-name="Path 297" class="cls-7"
                                    d="M288.93,304.2v-5.35a5.2,5.2,0,0,1,5.2-5.2h5.72a5.2,5.2,0,0,1,5.2,5.2v5.34a1,1,0,0,1-.95.94h-.83a.94.94,0,0,1-.94-.94V299a.75.75,0,0,0-.75-.74h0a.74.74,0,0,0-.74.74h0v17.09a1.54,1.54,0,0,1-1.54,1.53h0a1.54,1.54,0,0,1-1.53-1.53h0V304h-1.56v12.13a1.54,1.54,0,0,1-1.53,1.53h0a1.53,1.53,0,0,1-1.53-1.53h0V299a.76.76,0,0,0-.75-.75h-.26a.75.75,0,0,0-.75.75h0v5.23a.94.94,0,0,1-.94.94h-.58A.94.94,0,0,1,288.93,304.2Z" />
                            </g>
                            <g id="Group_243" data-name="Group 243">
                                <circle id="Ellipse_148" data-name="Ellipse 148" class="cls-7" cx="58.23" cy="49.25"
                                    r="3.38" />
                                <path id="Path_298" data-name="Path 298" class="cls-7"
                                    d="M50,64.14V58.79a5.2,5.2,0,0,1,5.2-5.2H60.9a5.2,5.2,0,0,1,5.2,5.2v5.34a1,1,0,0,1-.95.94h-.83a.94.94,0,0,1-.94-.94V59a.75.75,0,0,0-.75-.74h0a.75.75,0,0,0-.75.74V76.06a1.53,1.53,0,0,1-1.52,1.53h0a1.54,1.54,0,0,1-1.53-1.53h0V63.93H57.26V76.06a1.54,1.54,0,0,1-1.53,1.53h0a1.53,1.53,0,0,1-1.53-1.53h0V58.91a.75.75,0,0,0-.75-.74h-.26a.74.74,0,0,0-.75.74v5.24a1,1,0,0,1-.94.94h-.58A.94.94,0,0,1,50,64.14Z" />
                            </g>
                            <g id="Group_244" data-name="Group 244">
                                <circle id="Ellipse_149" data-name="Ellipse 149" class="cls-7" cx="58.23" cy="289.31"
                                    r="3.38" />
                                <path id="Path_299" data-name="Path 299" class="cls-7"
                                    d="M50,304.2v-5.35a5.2,5.2,0,0,1,5.2-5.2H60.9a5.2,5.2,0,0,1,5.2,5.2v5.34a1,1,0,0,1-.95.94h-.83a.94.94,0,0,1-.94-.94V299a.75.75,0,0,0-.75-.74h0a.75.75,0,0,0-.75.74h0v17.09a1.53,1.53,0,0,1-1.53,1.53h0a1.54,1.54,0,0,1-1.53-1.53h0V304H57.26v12.13a1.54,1.54,0,0,1-1.53,1.53h0a1.53,1.53,0,0,1-1.53-1.53h0V299a.76.76,0,0,0-.75-.75h-.26a.75.75,0,0,0-.75.75v5.23a.94.94,0,0,1-.94.94h-.58A.94.94,0,0,1,50,304.2Z" />
                            </g>
                            <g id="Group_240" data-name="Group 240">
                                <circle id="Ellipse_150" data-name="Ellipse 150" class="cls-7" cx="177.8" cy="167.7"
                                    r="4.05" />
                                <path id="Path_300" data-name="Path 300" class="cls-7"
                                    d="M167.91,185.54v-6.4a6.23,6.23,0,0,1,6.23-6.23H181a6.23,6.23,0,0,1,6.23,6.23h0v6.4a1.12,1.12,0,0,1-1.13,1.12h-1a1.12,1.12,0,0,1-1.12-1.12v-6.18a.9.9,0,0,0-.9-.9h0a.9.9,0,0,0-.9.9v20.46a1.84,1.84,0,0,1-1.84,1.83h0a1.83,1.83,0,0,1-1.83-1.83V185.29h-1.88v14.53a1.83,1.83,0,0,1-1.83,1.83h0a1.84,1.84,0,0,1-1.84-1.83V179.28a.89.89,0,0,0-.9-.89h-.31a.89.89,0,0,0-.9.89v6.27a1.13,1.13,0,0,1-1.13,1.13H169A1.13,1.13,0,0,1,167.91,185.54Z" />
                            </g>
                            <g id="Car">
                                <circle id="Ellipse_138" data-name="Ellipse 138" class="cls-7" cx="338.01" cy="185.8"
                                    r="3.86" />
                                <circle id="Ellipse_139" data-name="Ellipse 139" class="cls-7" cx="356.08" cy="185.8"
                                    r="3.86" />
                                <path id="Path_290" data-name="Path 290" class="cls-7"
                                    d="M329,176h5.86l4.57-5.77a1.41,1.41,0,0,1,1.1-.53h9a1.38,1.38,0,0,1,1.11.56L355,176s5.62-1.1,8.08,3.3a6.43,6.43,0,0,1,.38,6h-2.17s-.5-4.82-5-4.93c-5.1-.13-5.26,4.93-5.26,4.93h-7.48s-.6-4.88-5.32-4.88-5.42,4.88-5.42,4.88H329Z" />
                                <path id="Path_291" data-name="Path 291" class="cls-7" d="M352.47,176.16h-6v-4.72h3Z" />
                                <path id="Path_292" data-name="Path 292" class="cls-7"
                                    d="M337.23,176.16h7.58v-4.72H341Z" />
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </section>
</body>

</html>