<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/carmel.css">
    <title>Carmel Software-Generative Analytic</title>
</head>

<body>
    <section class="min-height-full background-color-red">
        <div class="flex-container-row min-height-full">
            <div class="width-five background-color-white">
                <div class="flex-container-center-column">
                    <div style="padding-top:2vh;width: 50%;" class="flex-container-center-row">
                        <a href="../views/home.html#distruptive-ideation">
                            <img src="../images/cw-icons-08 (1).png" class="back-icon-size">
                        </a>
                    </div>

                    <div style="padding-top: 5vh;width: 50%;padding-bottom: 3vh;">
                        <span class="distruptive-ideation-text">disruptive ideation</span>
                    </div>
                    <div style="padding-top: 5vh;width: 50%;">
                        <div class="flex-container-center-row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%"
                                viewBox="0 0 23.11 450.95">
                                <defs>
                                    <style>
                                        .cls-1-line {
                                            fill: none;
                                        }

                                        .cls-1-line,
                                        .cls-2-line {
                                            stroke: #939393;
                                            stroke-miterlimit: 10;
                                        }

                                        .cls-2-line {
                                            fill: #fff;
                                        }

                                        .cls-3-line {
                                            fill: #E25959;
                                        }
                                    </style>
                                </defs>
                                <title>cw-images</title>
                                <g id="Layer_12" data-name="Layer 12">
                                    <g id="Group_19-2" data-name="Group 19-2">
                                        <line id="Line_84-2" data-name="Line 84-2" class="cls-1-line" x1="11.55"
                                            y1="1.03" x2="11.55" y2="410.1" />
                                        <g id="Group_14-3" data-name="Group 14-3">
                                            <circle id="Ellipse_49-3" data-name="Ellipse 49-3" class="cls-2-line"
                                                cx="11.55" cy="11.54" r="10.88" />
                                        </g>
                                        <g id="Group_15" data-name="Group 15">
                                            <circle id="Ellipse_50" data-name="Ellipse 50" class="cls-2-line" cx="11.55"
                                                cy="111.93" r="10.88"
                                                onclick="window.location.href='../views/people-personas.html'" />
                                        </g>
                                        <g id="Group_16-2" data-name="Group 16-2">
                                            <circle id="Ellipse_51-2" data-name="Ellipse 51-2" class="cls-2-line"
                                                cx="11.55" cy="212.32" r="10.88"
                                                onclick="window.location.href='../views/empathy-maps.html'" />
                                        </g>
                                        <g id="Group_17-2" data-name="Group 17-2">
                                            <circle id="Ellipse_52-2" data-name="Ellipse 52-2" class="cls-2-line"
                                                cx="11.55" cy="312.71" r="10.88"
                                                onclick="window.location.href='../views/customer-journey.html'" />
                                        </g>
                                        <g id="Group_18-2" data-name="Group 18-2">
                                            <circle id="Ellipse_53-2" data-name="Ellipse 53-2" class="cls-2-line"
                                                cx="11.55" cy="413.1" r="10.88"
                                                onclick="window.location.href='../views/rapid-prototype.html'" />
                                        </g>
                                        <circle id="Ellipse_170-2" data-name="Ellipse 170-2" class="cls-3-line"
                                            cx="11.55" cy="11.54" r="6.78" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="width-sixty-five align-self-center" style="padding-left:5%;padding-right:5%">
                <div style="min-height:40vh">
                    <p class="white-color distruptive-sub-section-title-text">GENERATIVE &</p>
                    <p class="white-color distruptive-sub-section-title-text">ANALYTICAL</p>
                    <p class="distruptive-sub-section-desc-text width-seventy-five dark-red-color">Inherently, humans are systems thinkers
                        -
                        although the systems they build on their implicit
                        world-views differ over a significant range of scale and complexity. Behind every thinking there
                        is
                        a story hidden about the way we think things should work. Words seldom represent this hidden
                        story.
                        We use generative methods & techniques to transcend your thoughts beyond words into functional
                        features of the envisaged product.</p>
                </div>
                <div>
                    <a href="../views/home.html#distruptive-ideation">
                        <img src="../images/cw-icons-07.png" width="6%" height="6%">
                    </a>
                    <a href="../views/people-personas.html">
                        <img src="../images/red-right-button.png" width="6%" height="6%">
                    </a>
                </div>
            </div>
            <div class="width-thirty align-self-center" style="padding-right: 5%">
                <div class="full-width full-height">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="50%" viewBox="0 0 253.58 375.91">
                        <defs>
                            <style>
                                .cls-1,
                                .cls-2,
                                .cls-3 {
                                    stroke: #fff;
                                    stroke-width: 1.35px;
                                }

                                .cls-2,
                                .cls-3 {
                                    fill: none;
                                }

                                .cls-2 {
                                    stroke-miterlimit: 10;
                                }

                                .cls-4 {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <title>cw-images</title>
                        <g id="Layer_3" data-name="Layer 3">
                            <g id="Group_277" data-name="Group 277">
                                <g id="Group_276" data-name="Group 276">
                                    <circle id="Ellipse_244" data-name="Ellipse 244" class="cls-1" cx="111.53"
                                        cy="353.82" r="1.06" />
                                    <g id="Group_273" data-name="Group 273">
                                        <path id="Path_359" data-name="Path 359" class="cls-2"
                                            d="M196.62,234.59l48.2,2.85h0l-55.69,14.31-75.81-7.49" />
                                        <path id="Path_361" data-name="Path 361" class="cls-2"
                                            d="M244.86,237.45l-20.61,28.94-23.53,4.67-11.36-17.48,1.22,57.47-71.94,63,132.5-7.16" />
                                        <path id="Path_362" data-name="Path 362" class="cls-2"
                                            d="M118.23,374.16l-58-12.5L114,315.06" />
                                    </g>
                                    <g id="Group_274" data-name="Group 274">
                                        <path id="Path_363" data-name="Path 363" class="cls-2"
                                            d="M201.24,286.51l23.12,17.73L250,257.72l-25.8,8.67" />
                                        <path id="Path_364" data-name="Path 364" class="cls-2"
                                            d="M225.78,368.41l-1.2-50.33-33.29,26.79-50,27,10.06-25.74,39.93-1.22-.7-33.81,11.32-4.93-12.14-28.7" />
                                        <path id="Path_365" data-name="Path 365" class="cls-2"
                                            d="M178.72,370.61l12.57-25.74,58.57,20.87-25.17-48" />
                                        <path id="Path_366" data-name="Path 366" class="cls-2"
                                            d="M201.24,286.51l22.94-20.1.18,37.83,19.57,22.41-42-20.52-1.19-35.07" />
                                        <line id="Line_212" data-name="Line 212" class="cls-2" x1="224.18" y1="266.41"
                                            x2="202.16" y2="248.39" />
                                        <line id="Line_213" data-name="Line 213" class="cls-2" x1="190.58" y1="311.06"
                                            x2="161.64" y2="309.03" />
                                        <path id="Path_367" data-name="Path 367" class="cls-2"
                                            d="M244.83,237.39l6.31,19.06-1.9,45.17-8.86-26.18" />
                                        <path id="Path_368" data-name="Path 368" class="cls-2"
                                            d="M251.15,366.93,245.9,328.5l3.58-25.75" />
                                    </g>
                                    <path id="Outline" class="cls-2"
                                        d="M49.57,5.14,62.31,3.36,76.55,10.2,85,22.8l5.48,4,22.73,6.57,13.55-4.1,28.07,7.39,50.93,40.52L218.25,117l-5.89,39.16,5.89,9.86,6.84,32-9.17,23.28-12.46,6.43-12.05,10-19.3,7.66-23.27-3.7H126l-17.8-8.35,17.8,40,20.81,23.82,13.56,11.36,1.91,10.82-1.78,7L145,333.72l-13.28,15.6-2.6,7.26-14.51,4.24-5.2-2.46-7.67.82-3.56-2.6H95.45l-1.51-3.29-1-4.24,3.29-4.24,19.44-8.36,1.37-17.8-11.64-27.24L57,246l-11.87-4.84L30.68,227.79l2.56-23.73,12.5-12.31L29.18,196l-1,10.27,1.1,9.31-1.1,3.56-3.42-.68-3.15-3.7-4.11,11.59,5.3,5.75,1.55,4.47H21.83l1.55,3.93-1.82,4.29-3.47-1.28L17,244.67l-3.74-5.84-3.93-.27L5.76,223.41,11.33,186,19,175.22l12.23-3.93,14.51-6.84,18.35-5.57,14.37,2.33-.41-3.56-18.2-16.56-7-12.6-12.6-13.56-2.47-8.76,4.11-10.4L56,81.53l-4.66-.69-1.78-5.06-4.38-.69-.27-2.74-1.51-.41L41.5,68.79l-6.17,2.47-.82-16.84-3.83-5.07L27.53,29.09l7.94-16Z" />
                                    <path id="Path_369" data-name="Path 369" class="cls-2"
                                        d="M61.68,3.4,51.88,13,41.31,10.12,33.8,37.17l-6.25-8.12" />
                                    <path id="Path_370" data-name="Path 370" class="cls-2"
                                        d="M39.56,18.41,51.88,13l4.56,22.24Z" />
                                    <path id="Path_371" data-name="Path 371" class="cls-2"
                                        d="M51.88,13,64.11,28.23l4.38,8.94,15.63-14Z" />
                                    <path id="Path_372" data-name="Path 372" class="cls-2"
                                        d="M33.43,52.91l.38-15.74,22.63-1.82,12,1.82h5.34l16.7-10.45" />
                                    <path id="Path_373" data-name="Path 373" class="cls-2"
                                        d="M34.54,54.38,41,46.58l-7-9.42,28.79,9-6.3-10.81" />
                                    <path id="Path_374" data-name="Path 374" class="cls-2"
                                        d="M68.49,37.17,66,52.92l-3.29-6.76L47.13,60.4,41,46.57" />
                                    <path id="Path_375" data-name="Path 375" class="cls-2"
                                        d="M34.83,60.4l2.5-7,9.8,7-1.5,11.38,10.58-6.22L47.52,60.4l14.15-2.88,1.07-11.36" />
                                    <line id="Line_214" data-name="Line 214" class="cls-2" x1="41.52" y1="68.75"
                                        x2="36.49" y2="52.01" />
                                    <path id="Path_376" data-name="Path 376" class="cls-2"
                                        d="M66,52.66l.82,7.74-2.33,6.3L59.45,77.52l-3.42,4-1.27-.19,2.37-15.7,4.55-8.07,4.62,4.38" />
                                    <path id="Path_378" data-name="Path 378" class="cls-2"
                                        d="M66.85,47.67l7-10.5,41.41-1.42L108,39.81,89.76,46.16H77.53L66,52.81" />
                                    <line id="Line_215" data-name="Line 215" class="cls-2" x1="77.33" y1="46.01"
                                        x2="72.95" y2="38.5" />
                                    <line id="Line_216" data-name="Line 216" class="cls-2" x1="89.76" y1="46.09"
                                        x2="89.76" y2="36.49" />
                                    <path id="Path_379" data-name="Path 379" class="cls-2"
                                        d="M66,52.91,74,60.4l12,8.08,15.7,5.38L89.76,46.16l-3.83,20.7L77.33,46" />
                                    <path id="Path_380" data-name="Path 380" class="cls-2"
                                        d="M113.19,33.37l14,5.81,21.54,6.09-21.55-16" />
                                    <path id="Path_381" data-name="Path 381" class="cls-2"
                                        d="M154.54,37l-5.82,8.29-5.09,21.17L127,40.19,118,55.73,143.48,66.5l-23.1,5.2L147.19,97l-3.55-30.44,11.63,1.12L151.8,55.33l-8.16,11.12" />
                                    <line id="Line_217" data-name="Line 217" class="cls-2" x1="148.72" y1="45.27"
                                        x2="151.8" y2="55.33" />
                                    <line id="Line_218" data-name="Line 218" class="cls-2" x1="148.84" y1="45.27"
                                        x2="206" y2="77.72" />
                                    <path id="Path_382" data-name="Path 382" class="cls-2"
                                        d="M167.63,59.69l-11.72,8.65-3.22,13.42Z" />
                                    <path id="Path_383" data-name="Path 383" class="cls-2"
                                        d="M190.61,69,160.42,73l44.43,21.52Z" />
                                    <path id="Path_384" data-name="Path 384" class="cls-2"
                                        d="M217.45,114.32l-12.6-19.83L185.2,111.4l32.65,5.95" />
                                    <path id="Path_385" data-name="Path 385" class="cls-2"
                                        d="M89.76,46.16l18.16,15.71.09-22" />
                                    <path id="Path_386" data-name="Path 386" class="cls-2"
                                        d="M108,60.35l10-4.67L117,35" />
                                    <path id="Path_387" data-name="Path 387" class="cls-2"
                                        d="M118,55.68,122.5,91.4a.09.09,0,0,1-.06.08.08.08,0,0,1-.07,0L107.92,61.87l-.3,19.47-6-7.48" />
                                    <path id="Path_388" data-name="Path 388" class="cls-2"
                                        d="M108,82.35l-13.51,24-1.37,27.11-12.32-5-14-15.15-6-4.7,1.94-7.8,6.66-3.7,8.77-1.78.27-2.74L68.31,93l4.47-3.38,9.13-1.18,1.91-4.11-9.67.46,7.67-4,3-3.93H76.16l-6.57,2.2,8.67-5.81.09-3.05-9.59,2.1-9.31,5.2" />
                                    <path id="Path_389" data-name="Path 389" class="cls-2"
                                        d="M152.69,81.76,148,98.14l-29.39,2.65,13.12-18.52-9.29,9.26-14.7-15.7" />
                                    <path id="Path_390" data-name="Path 390" class="cls-2"
                                        d="M182.49,83.45l-32.43,8.19,9.57,24.7,9.64-28.47L185.2,111.4l-25.57,6.29L146,126.89l-9-2.19L148,98.14" />
                                    <path id="Path_391" data-name="Path 391" class="cls-2"
                                        d="M149.88,91.54,149,121.3l-10.26-.92" />
                                    <line id="Line_219" data-name="Line 219" class="cls-2" x1="159.67" y1="117.35"
                                        x2="149.36" y2="121.42" />
                                    <line id="Line_220" data-name="Line 220" class="cls-2" x1="169.16" y1="86.94"
                                        x2="204.85" y2="94.49" />
                                    <path id="Path_392" data-name="Path 392" class="cls-2"
                                        d="M170.53,133.46l16.09.29L185.2,111.4l-14.67,22.06-10.86-16.11" />
                                    <path id="Path_393" data-name="Path 393" class="cls-2"
                                        d="M178.29,150.26,186.87,134l17.64-19.09-7.42,10.7Z" />
                                    <path id="Path_394" data-name="Path 394" class="cls-2"
                                        d="M189.06,156.83l-10.77-6.57-7.73-16-6,24.57,15.43,20-1.74-28.57" />
                                    <line id="Line_221" data-name="Line 221" class="cls-2" x1="170.53" y1="133.46"
                                        x2="179.99" y2="178.78" />
                                    <path id="Path_395" data-name="Path 395" class="cls-2"
                                        d="M118.6,100.79l-8.72-10.42-9.41,19.85Z" />
                                    <line id="Line_222" data-name="Line 222" class="cls-2" x1="145.98" y1="126.89"
                                        x2="170.53" y2="133.46" />
                                    <line id="Line_223" data-name="Line 223" class="cls-2" x1="162.68" y1="161.85"
                                        x2="164.6" y2="158.84" />
                                    <path id="Path_397" data-name="Path 397" class="cls-2"
                                        d="M146.12,126.89l3.76,24.74,5.65,17.61" />
                                    <line id="Line_224" data-name="Line 224" class="cls-2" x1="165.51" y1="169.24"
                                        x2="165.51" y2="160.02" />
                                    <path id="Path_398" data-name="Path 398" class="cls-2"
                                        d="M149.88,151.63,149.81,166l-1.32,10.32,14.19-14.43" />
                                    <path id="Path_399" data-name="Path 399" class="cls-2"
                                        d="M225.11,198l-24.45,12.92L218.27,166l-29.21-9.13,7.51-29.19,15.82,28.68" />
                                    <path id="Path_400" data-name="Path 400" class="cls-2"
                                        d="M215.94,221.27l-15.28-10.35-15.45,10.62-11.94,16.15-1.58,6.62-24.07-16.48L129,218.25l-22.72,6L80,221.81l28.2,11.5-13.69.19-25.74.36,15,20.53,38.34,10.08-4,31.28,20,9.85-12-32.31" />
                                    <line id="Line_225" data-name="Line 225" class="cls-2" x1="191.43" y1="237.7"
                                        x2="200.66" y2="210.91" />
                                    <line id="Line_226" data-name="Line 226" class="cls-2" x1="191.59" y1="237.57"
                                        x2="173.29" y2="237.51" />
                                    <path id="Path_401" data-name="Path 401" class="cls-2"
                                        d="M173.27,237.69,174,226l11.26-4.41,6.38,16" />
                                    <path id="Path_402" data-name="Path 402" class="cls-2"
                                        d="M161.77,191.69l28.57,5.94,10.32,13.28" />
                                    <line id="Line_227" data-name="Line 227" class="cls-2" x1="161.77" y1="191.7"
                                        x2="196.64" y2="205.74" />
                                    <path id="Path_403" data-name="Path 403" class="cls-2"
                                        d="M177.44,198.2l7.53,23-26.89-25.3L173.77,226,129,218.26l-38.26-23.1,15.54,29.12L126,241.67" />
                                    <line id="Line_228" data-name="Line 228" class="cls-2" x1="147.62" y1="227.84"
                                        x2="174.09" y2="226.01" />
                                    <path id="Path_404" data-name="Path 404" class="cls-2"
                                        d="M129,218.26l-2.1,22.43,20.72-12.85" />
                                    <path id="Path_405" data-name="Path 405" class="cls-2"
                                        d="M189.06,156.83l1.3,39.3L180,178.83,162,191.64" />
                                    <line id="Line_229" data-name="Line 229" class="cls-2" x1="200.66" y1="210.91"
                                        x2="189.06" y2="156.83" />
                                    <path id="Path_406" data-name="Path 406" class="cls-2"
                                        d="M162,191.77,149.45,187l-1-7.48L162.17,191l3.35-21.73" />
                                    <path id="Path_407" data-name="Path 407" class="cls-2"
                                        d="M167,193.79l-11.69-.59-47.51-3.42L126,185.94l23.46,1.1" />
                                    <path id="Path_408" data-name="Path 408" class="cls-2"
                                        d="M156.22,193.25l-30,14.05-18-17.43L90,193.65,174,226" />
                                    <path id="Path_409" data-name="Path 409" class="cls-2"
                                        d="M126,186l-26.74-2.1-11.68-1.8-11.85,5.87,17.14-23.15,11.35,8.63,5.49-14-9.86-4.59,4.1,18.07" />
                                    <path id="Path_410" data-name="Path 410" class="cls-2"
                                        d="M96.35,129.72l4.89,6.84,21.92.46L109.7,159.39l-8.64-22.59-7.36,3.67-.57-7,3.38-3.92,22.09-28.75L123.16,134,128.43,102l8.51,22.69-13.78,11.85-16.45-20.29" />
                                    <path id="Path_451" data-name="Path 451" class="cls-3"
                                        d="M93.13,133.46l7.67,2.95" />
                                    <path id="Path_411" data-name="Path 411" class="cls-2"
                                        d="M93.15,133.72l-1.63,11.91L99,153.36" />
                                    <line id="Line_231" data-name="Line 231" class="cls-2" x1="75.58" y1="75.05"
                                        x2="56.03" y2="81.48" />
                                    <path id="Path_412" data-name="Path 412" class="cls-2"
                                        d="M69.59,79.07l-17,11,2.12,2L45.25,110,41.93,95.72" />
                                    <path id="Path_413" data-name="Path 413" class="cls-2"
                                        d="M37.82,106.13l7.3,5.56.52-.1L59,109.31l-8,6.45,21.08,4.79-6.82,3.7L51,115.76l1.91,12.68" />
                                    <path id="Path_414" data-name="Path 414" class="cls-2"
                                        d="M40.29,114.89l10.68.87-5.85-4.66" />
                                    <path id="Path_415" data-name="Path 415" class="cls-2"
                                        d="M45.25,111.1,68.31,93l-5.57,7.76Z" />
                                    <path id="Path_416" data-name="Path 416" class="cls-2"
                                        d="M64.93,95.61l-7.93-3,14.62-2" />
                                    <line id="Line_232" data-name="Line 232" class="cls-2" x1="49.6" y1="87.98"
                                        x2="52.61" y2="90.11" />
                                    <path id="Path_417" data-name="Path 417" class="cls-2"
                                        d="M76.23,76.87l-6.64,9.4,4.56-1.46" />
                                    <line id="Line_233" data-name="Line 233" class="cls-2" x1="54.73" y1="92.12"
                                        x2="70.26" y2="86.06" />
                                    <line id="Line_234" data-name="Line 234" class="cls-2" x1="54.73" y1="92.12"
                                        x2="66.25" y2="81.23" />
                                    <line id="Line_235" data-name="Line 235" class="cls-2" x1="54.73" y1="92.12"
                                        x2="76.23" y2="76.87" />
                                    <path id="Path_418" data-name="Path 418" class="cls-2"
                                        d="M65.41,124.91l-4.94,15.47,14.17-2.77Z" />
                                    <path id="Path_419" data-name="Path 419" class="cls-2"
                                        d="M80.81,128.58l-1.87,27.93L75.24,138l5.57-9.59-15.06-4.2" />
                                    <path id="Path_420" data-name="Path 420" class="cls-2"
                                        d="M115,83.71l-5.39,5.85L94.5,106.36l2.19,20.37,3.65-16.36" />
                                    <path id="Path_421" data-name="Path 421" class="cls-2"
                                        d="M93.13,133.46l-12.22,7.81L91,145.76l-11.2,14.9,6.11-1.27,14-4.59-5-9L93.67,141" />
                                    <path id="Path_422" data-name="Path 422" class="cls-2"
                                        d="M99,153.91,86.65,152.5l-.77,6.89,7,5.38-14.3-3.55" />
                                    <line id="Line_236" data-name="Line 236" class="cls-2" x1="86.57" y1="182.52"
                                        x2="104.26" y2="173.86" />
                                    <path id="Path_423" data-name="Path 423" class="cls-2"
                                        d="M64.11,158.84l-5.06,9.95-8.35,2.1-3.56,7.23-15.06-6,3.42,8.48,11.64-2.44L45.77,164.4" />
                                    <line id="Line_237" data-name="Line 237" class="cls-2" x1="50.69" y1="170.89"
                                        x2="64.04" y2="158.97" />
                                    <line id="Line_238" data-name="Line 238" class="cls-2" x1="50.69" y1="170.89"
                                        x2="51.17" y2="162.76" />
                                    <path id="Path_424" data-name="Path 424" class="cls-2"
                                        d="M59.05,168.79,80.66,179.9l-19.28,6.59-14.24-8.37,33.19,1.78" />
                                    <path id="Path_425" data-name="Path 425" class="cls-2"
                                        d="M19,175.18l-.22,12.15L27,172.62" />
                                    <path id="Path_426" data-name="Path 426" class="cls-2"
                                        d="M61.37,186.49l-29.48-4-7.58,13.56-5.17-7.33,16.35-8.19" />
                                    <path id="Path_427" data-name="Path 427" class="cls-2"
                                        d="M11.35,186l1.37,10.13,6.42-7.44" />
                                    <path id="Path_428" data-name="Path 428" class="cls-2"
                                        d="M29.2,195.94l-4.89.14H12.72" />
                                    <line id="Line_239" data-name="Line 239" class="cls-2" x1="21.67" y1="214.7"
                                        x2="24.31" y2="196.08" />
                                    <path id="Path_429" data-name="Path 429" class="cls-2"
                                        d="M12.72,196.08l2.57,11.17,6.38-11.17" />
                                    <path id="Path_430" data-name="Path 430" class="cls-2"
                                        d="M11.35,187.31l-.2,33.54,4.06-11.92,2.35,17.36" />
                                    <line id="Line_240" data-name="Line 240" class="cls-2" x1="21.67" y1="214.7"
                                        x2="15.32" y2="207.41" />
                                    <line id="Line_241" data-name="Line 241" class="cls-2" x1="21.96" y1="215.04"
                                        x2="28.31" y2="206.8" />
                                    <line id="Line_242" data-name="Line 242" class="cls-2" x1="18.11" y1="243.45"
                                        x2="10.71" y2="224.1" />
                                    <path id="Path_431" data-name="Path 431" class="cls-2"
                                        d="M13.27,238.79,6.33,223.73l4.38.37,11.14,12.41" />
                                    <path id="Path_432" data-name="Path 432" class="cls-2"
                                        d="M74.77,188.92,46.4,191.45l15-5" />
                                    <path id="Path_433" data-name="Path 433" class="cls-2"
                                        d="M66.11,189.7l-9.77,7.17,33.23-3.08L60.76,213.46,45.2,194l9.6,3.44.37.32,5.58,15.7" />
                                    <path id="Path_434" data-name="Path 434" class="cls-2"
                                        d="M46.58,237.69l8.77-11.4,12.74,30" />
                                    <path id="Path_435" data-name="Path 435" class="cls-2"
                                        d="M80,221.82l-19.24-8.36L35.2,205.23l20.15,21.06-23.19,2.1,15,9L57,245.92" />
                                    <path id="Path_436" data-name="Path 436" class="cls-2"
                                        d="M64.31,246.87l19.42,7.53L55.35,226.29l13.41,7.58-8-20.4" />
                                    <path id="Path_437" data-name="Path 437" class="cls-2"
                                        d="M83.73,254.4,93.9,234.17l27.59,29" />
                                    <path id="Path_438" data-name="Path 438" class="cls-2"
                                        d="M103.77,289.78l-20-35.38,22,29.71,15.76-19.3" />
                                    <path id="Path_439" data-name="Path 439" class="cls-2"
                                        d="M118.09,295.86l-12.36-11.75,7.54,25.54" />
                                    <path id="Path_440" data-name="Path 440" class="cls-2"
                                        d="M117.09,318.61l1-22.75,5.57,18.23,23.28-3.42L138,305.6" />
                                    <path id="Path_441" data-name="Path 441" class="cls-2"
                                        d="M146.94,310.67l12.72-1.34-4.42,18.6-15-6.36-16.55-7.48-3.6,5.29,4.56,26.29,20.4-12" />
                                    <path id="Path_442" data-name="Path 442" class="cls-2"
                                        d="M96.59,345.87l6.4,4L98.2,355.4Z" />
                                    <path id="Path_443" data-name="Path 443" class="cls-2"
                                        d="M112.65,348.41,103,349.87l-1.24,9.26" />
                                    <path id="Path_444" data-name="Path 444" class="cls-2"
                                        d="M120.06,319.39l-4.34,17-4.17,17.36-8.55-3.9" />
                                    <line id="Line_243" data-name="Line 243" class="cls-2" x1="126.17" y1="344.76"
                                        x2="140.21" y2="321.57" />
                                    <path id="Path_445" data-name="Path 445" class="cls-2"
                                        d="M129.14,356.53l-17.39-2.78,12.87-8.08-8.9-9.26" />
                                    <line id="Line_244" data-name="Line 244" class="cls-2" x1="109.43" y1="358.31"
                                        x2="111.55" y2="353.77" />
                                </g>
                                <g id="Group_275" data-name="Group 275">
                                    <circle id="Ellipse_226" data-name="Ellipse 226" class="cls-4" cx="51.86" cy="13.03"
                                        r="2.41" />
                                    <circle id="Ellipse_227" data-name="Ellipse 227" class="cls-4" cx="40.79" cy="47.03"
                                        r="3" />
                                    <circle id="Ellipse_228" data-name="Ellipse 228" class="cls-4" cx="89.73" cy="46.13"
                                        r="2.58" />
                                    <circle id="Ellipse_229" data-name="Ellipse 229" class="cls-4" cx="143.61"
                                        cy="66.37" r="2.48" />
                                    <circle id="Ellipse_230" data-name="Ellipse 230" class="cls-4" cx="185.18"
                                        cy="111.45" r="2.67" />
                                    <circle id="Ellipse_231" data-name="Ellipse 231" class="cls-4" cx="178.27"
                                        cy="150.31" r="1.53" />
                                    <circle id="Ellipse_232" data-name="Ellipse 232" class="cls-4" cx="99.82"
                                        cy="154.85" r="1.57" />
                                    <circle id="Ellipse_233" data-name="Ellipse 233" class="cls-4" cx="47.11"
                                        cy="178.17" r="1.57" />
                                    <circle id="Ellipse_234" data-name="Ellipse 234" class="cls-4" cx="10.69"
                                        cy="224.15" r="1.4" />
                                    <circle id="Ellipse_235" data-name="Ellipse 235" class="cls-4" cx="200.64"
                                        cy="210.96" r="3" />
                                    <circle id="Ellipse_236" data-name="Ellipse 236" class="cls-4" cx="128.87"
                                        cy="218.3" r="2.87" />
                                    <circle id="Ellipse_237" data-name="Ellipse 237" class="cls-4" cx="83.71"
                                        cy="254.45" r="2.45" />
                                    <circle id="Ellipse_238" data-name="Ellipse 238" class="cls-4" cx="123.64"
                                        cy="314.14" r="3.08" />
                                    <circle id="Ellipse_239" data-name="Ellipse 239" class="cls-4" cx="173.75"
                                        cy="226.01" r="2.37" />
                                    <circle id="Ellipse_240" data-name="Ellipse 240" class="cls-4" cx="118.58"
                                        cy="100.84" r="2.23" />
                                    <circle id="Ellipse_241" data-name="Ellipse 241" class="cls-4" cx="47.19" cy="60.35"
                                        r="1.7" />
                                    <circle id="Ellipse_242" data-name="Ellipse 242" class="cls-4" cx="89.55"
                                        cy="193.84" r="1.17" />
                                    <circle id="Ellipse_243" data-name="Ellipse 243" class="cls-4" cx="55.32"
                                        cy="226.34" r="1.99" />
                                    <circle id="Ellipse_245" data-name="Ellipse 245" class="cls-4" cx="45.22"
                                        cy="111.15" r="1.1" />
                                    <circle id="Ellipse_246" data-name="Ellipse 246" class="cls-4" cx="54.71" cy="92.17"
                                        r="1.3" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </section>
</body>

</html>