<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/carmel.css">
    <title>Carmel Software Solutions - Rapid Prototyping</title>
</head>

<body>
    <section class="min-height-full background-color-green" aria-label="Rapid prototyping">
        <div class="flex-container-row min-height-full">
            <div class="width-five background-color-white col-1">
                <div class="flex-container-center-column">
                    <div style="padding-top:2vh;width: 50%;" class="flex-container-center-row">
                        <a href="../views/home.html#distruptive-ideation">
                            <img src="../images/cw-icons-08.png" alt="" class="back-icon-size">
                        </a>
                    </div>

                    <div style="padding-top: 5vh;width: 50%;padding-bottom: 3vh;">
                        <span class="distruptive-ideation-text">disruptive ideation</span>
                    </div>
                    <div style="padding-top: 5vh;width: 50%;">
                        <div class="flex-container-center-row">
                            <svg xmlns="http://www.w3.org/2000/svg" class="pagination" width="50%" height="50%"
                                viewBox="0 0 23.11 450.95">
                                <defs>
                                    <style>
                                        .cls-1-line {
                                            fill: none;
                                        }

                                        .cls-1-line,
                                        .cls-2-line {
                                            stroke: #939393;
                                            stroke-miterlimit: 10;
                                        }

                                        .cls-2-line {
                                            fill: #fff;
                                        }

                                        .cls-3-line {
                                            fill: #A2C121;
                                        }
                                    </style>
                                </defs>
                                <title>cw-images</title>
                                <g id="Layer_12" data-name="Layer 12">
                                    <g id="Group_19-2" data-name="Group 19-2">
                                        <line id="Line_84-2" data-name="Line 84-2" class="cls-1-line" x1="11.55"
                                            y1="1.03" x2="11.55" y2="410.1" />
                                        <g id="Group_14-3" data-name="Group 14-3">
                                            <circle id="Ellipse_49-3" data-name="Ellipse 49-3" class="cls-2-line"
                                                cx="11.55" cy="11.54" r="10.88" onclick="window.location.href='../views/generative-analytics.html'" />
                                        </g>
                                        <g id="Group_15" data-name="Group 15">
                                            <circle id="Ellipse_50" data-name="Ellipse 50" class="cls-2-line" cx="11.55"
                                                cy="111.93" r="10.88" onclick="window.location.href='../views/people-personas.html'" />
                                        </g>
                                        <g id="Group_16-2" data-name="Group 16-2">
                                            <circle id="Ellipse_51-2" data-name="Ellipse 51-2" class="cls-2-line"
                                                cx="11.55" cy="212.32" r="10.88" onclick="window.location.href='../views/empathy-maps.html'" />
                                        </g>
                                        <g id="Group_17-2" data-name="Group 17-2">
                                            <circle id="Ellipse_52-2" data-name="Ellipse 52-2" class="cls-2-line"
                                                cx="11.55" cy="312.71" r="10.88"  onclick="window.location.href='../views/customer-journey.html'" />
                                        </g>
                                        <g id="Group_18-2" data-name="Group 18-2">
                                            <circle id="Ellipse_53-2" data-name="Ellipse 53-2" class="cls-2-line"
                                                cx="11.55" cy="413.1" r="10.88" />
                                        </g>
                                        <circle id="Ellipse_170-2" data-name="Ellipse 170-2" class="cls-3-line"
                                            cx="11.55" cy="413.1" r="6.78" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2-empathy">
            <div class="width-fifty-five align-self-center col-2-1-empathy" style="padding-left:5%;">
                <div class="min-height-fourty">
                    <p class="white-color distruptive-sub-section-title-text">RAPID</p>
                    <p class="white-color distruptive-sub-section-title-text">PROTOTYPING</p>
                    <p class="distruptive-sub-section-desc-text width-eighty-five dark-green-color">You can see what we will build & deliver
                        even before we write a single line of code. This will substantially cut development cost &
                        iterations. It is not about artistic ability, it is all about quickly and visually communicating
                        the
                        product ideas. With us, prototyping is fast and furious. We engage with our clients very closely
                        during this stage to ensure that they have a complete know how about the final product.</p>
                </div>
                <div class="buttons">
                    <a href="../views/customer-journey.html">
                        <img src="../images/cw-icons-07.png" class="back-page-img-empathy" alt="">
                    </a>
                </div>
            </div>
            <div style="padding-right: 5%" class="align-self-center col-2-2-empathy">
                <div class="full-width full-height">
                    <svg xmlns="http://www.w3.org/2000/svg" width="85%" height="100%" viewBox="0 0 349.97 323.51">
                        <defs>
                            <style>
                                .cls-1,
                                .cls-2,
                                .cls-3 {
                                    fill: none;
                                    stroke: #fff;
                                    stroke-miterlimit: 10;
                                    stroke-width: 1.25px;
                                }

                                .cls-2 {
                                    stroke-linecap: round;
                                }

                                .cls-3 {
                                    stroke-dasharray: 5;
                                }
                            </style>
                        </defs>
                        <title>cw-images</title>
                        <g id="Layer_7" data-name="Layer 7">
                            <g id="Group_245" data-name="Group 245">
                                <g id="Group_224" data-name="Group 224">
                                    <path id="Ellipse_165" data-name="Ellipse 165" class="cls-1"
                                        d="M262.71,104.18a9.87,9.87,0,1,1,10.91,11.06" />
                                    <path id="Path_301" data-name="Path 301" class="cls-1"
                                        d="M267,85.3V77.18a2,2,0,0,1,2-2h6.57a2,2,0,0,1,2,2h0V85" />
                                    <path id="Path_302" data-name="Path 302" class="cls-1"
                                        d="M277.5,126v8.28a2,2,0,0,1-2,2h-1.19" />
                                    <path id="Path_303" data-name="Path 303" class="cls-1"
                                        d="M293,100.46h7.77a2,2,0,0,1,2,2h0V109a2,2,0,0,1-2,2h-8" />
                                    <path id="Path_304" data-name="Path 304" class="cls-1"
                                        d="M252.23,100.46h-8.5a2,2,0,0,0-2,2h0v2.09" />
                                    <path id="Path_305" data-name="Path 305" class="cls-1"
                                        d="M283.38,87.45l5.68-5.62a2,2,0,0,1,2.76,0h0l4.65,4.64a2,2,0,0,1,0,2.76l-5.68,5.69" />
                                    <path id="Path_307" data-name="Path 307" class="cls-1"
                                        d="M290.59,116.39l5.88,5.78a2,2,0,0,1,0,2.77l-4.65,4.64a2,2,0,0,1-2.76,0l-5.94-5.77" />
                                    <path id="Path_308" data-name="Path 308" class="cls-1"
                                        d="M254.21,94.73l-5.5-5.5a2,2,0,0,1,0-2.76h0l4.65-4.64a2,2,0,0,1,2.76,0h0l5.72,5.7" />
                                    <path id="Path_309" data-name="Path 309" class="cls-1"
                                        d="M283.6,87.27a21,21,0,0,0-6.21-2.52m15.93,15.79A21.39,21.39,0,0,0,291,94.73m0,21.66a21.16,21.16,0,0,0,2.24-5.3m-15.68,15.2a21.48,21.48,0,0,0,6.06-2.47M254.3,94.47a23.3,23.3,0,0,0-2.42,6M267,85a21.6,21.6,0,0,0-5.44,2.32" />
                                </g>
                                <g id="Group_225" data-name="Group 225">
                                    <circle id="Ellipse_166" data-name="Ellipse 166" class="cls-1" cx="318.18"
                                        cy="84.83" r="5.25" />
                                    <path id="Path_310" data-name="Path 310" class="cls-1"
                                        d="M311.24,76.18l-1.72-4a1,1,0,0,1,.54-1.37h0l3.2-1.39a1,1,0,0,1,1.36.54h0l1.65,3.78" />
                                    <path id="Path_311" data-name="Path 311" class="cls-1"
                                        d="M325,93.78l1.75,4a1,1,0,0,1-.53,1.37h0l-3.2,1.4a1,1,0,0,1-1.37-.54l-1.78-4.14" />
                                    <path id="Path_312" data-name="Path 312" class="cls-1"
                                        d="M327.13,78.06l3.79-1.65a1,1,0,0,1,1.37.54l1.39,3.2a1,1,0,0,1-.54,1.37l-3.9,1.69" />
                                    <path id="Path_313" data-name="Path 313" class="cls-1"
                                        d="M307.24,86.71l-4.14,1.8a1,1,0,0,0-.54,1.37l1.39,3.2a1,1,0,0,0,1.37.54l4.18-1.82" />
                                    <path id="Path_314" data-name="Path 314" class="cls-1"
                                        d="M319.68,73.76l1.57-3.94a1,1,0,0,1,1.35-.59h0l3.25,1.28a1,1,0,0,1,.58,1.35l-1.56,4" />
                                    <path id="Path_315" data-name="Path 315" class="cls-1"
                                        d="M317,95.89l-1.67,4.19a1.05,1.05,0,0,1-1.35.59h0l-3.25-1.28a1,1,0,0,1-.58-1.35h0L311.82,94" />
                                    <path id="Path_316" data-name="Path 316" class="cls-1"
                                        d="M329.33,86.34l4.09,1.57a1,1,0,0,1,.58,1.35h0l-1.28,3.25a1,1,0,0,1-1.34.59h0l-4.12-1.56" />
                                    <path id="Path_317" data-name="Path 317" class="cls-1"
                                        d="M307,83.49,303.15,82a1,1,0,0,1-.59-1.35l1.28-3.25a1,1,0,0,1,1.35-.59l4,1.57" />
                                    <path id="Path_318" data-name="Path 318" class="cls-1"
                                        d="M320,73.7a14.2,14.2,0,0,0-4,0m11.38,4.48a14.52,14.52,0,0,0-2.68-2.69m4.77,11.08a16.09,16.09,0,0,0,0-3.67m-4.61,11.17a14,14,0,0,0,2.7-2.78M316.6,96.07a17.85,17.85,0,0,0,3.58,0m-11.07-4.44A18,18,0,0,0,312,94.3m-4.89-11.12a14.87,14.87,0,0,0,.1,3.83m4.17-11.19a15.85,15.85,0,0,0-2.47,2.64" />
                                </g>
                                <g id="Group_226" data-name="Group 226">
                                    <rect id="Rectangle_42" data-name="Rectangle 42" class="cls-1" x="97.66" y="103.99"
                                        width="176.34" height="121.79" rx="8.18" />
                                    <rect id="Rectangle_43" data-name="Rectangle 43" class="cls-1" x="112.86" y="126.73"
                                        width="145.95" height="29.02" />
                                    <rect id="Rectangle_44" data-name="Rectangle 44" class="cls-1" x="113.75" y="166.9"
                                        width="23.77" height="23.77" />
                                    <rect id="Rectangle_45" data-name="Rectangle 45" class="cls-1" x="154.06" y="166.9"
                                        width="23.77" height="23.77" />
                                    <rect id="Rectangle_46" data-name="Rectangle 46" class="cls-1" x="194.18" y="166.54"
                                        width="23.77" height="23.77" />
                                    <rect id="Rectangle_47" data-name="Rectangle 47" class="cls-1" x="234.14" y="166.9"
                                        width="23.77" height="23.77" />
                                    <line id="Line_173" data-name="Line 173" class="cls-2" x1="113.75" y1="202.17"
                                        x2="257.91" y2="202.17" />
                                    <line id="Line_174" data-name="Line 174" class="cls-2" x1="113.75" y1="209.56"
                                        x2="257.91" y2="209.56" />
                                    <line id="Line_175" data-name="Line 175" class="cls-2" x1="113.75" y1="216.57"
                                        x2="191.04" y2="216.57" />
                                    <circle id="Ellipse_167" data-name="Ellipse 167" class="cls-1" cx="106.96"
                                        cy="110.74" r="2.21" />
                                    <circle id="Ellipse_168" data-name="Ellipse 168" class="cls-1" cx="115.35"
                                        cy="110.74" r="2.21" />
                                    <line id="Line_176" data-name="Line 176" class="cls-1" x1="97.66" y1="116.98"
                                        x2="274" y2="116.98" />
                                </g>
                                <g id="Group_227" data-name="Group 227">
                                    <path id="Path_319" data-name="Path 319" class="cls-1"
                                        d="M31.39,60.69c17.87,0,31.19,13.79,30.4,31.63C61.28,104,54,111.24,49,116.38c-4.09,4.23,1.49,15.1-5.32,18.15-1.79.8.12,4.18-2.18,7.58a11.78,11.78,0,0,1-10.1,5.18" />
                                    <path id="Path_320" data-name="Path 320" class="cls-1"
                                        d="M31.39,60.69C13.53,60.69.21,74.48,1,92.32c.51,11.67,7.83,18.92,12.8,24.06,4.09,4.23-1.49,15.1,5.32,18.15,1.79.8-.12,4.18,2.18,7.58a11.78,11.78,0,0,0,10.1,5.18" />
                                    <line id="Line_177" data-name="Line 177" class="cls-1" x1="19.81" y1="135.32"
                                        x2="42.98" y2="135.32" />
                                    <line id="Line_178" data-name="Line 178" class="cls-1" x1="20.24" y1="139.65"
                                        x2="28.8" y2="139.65" />
                                    <path id="Path_321" data-name="Path 321" class="cls-1"
                                        d="M30.44,135.33l-5.3-25.4a2.46,2.46,0,0,1,1.54-2.81,1.58,1.58,0,0,1,1.44.25l1,.73a4.64,4.64,0,0,0,2.26.83,14,14,0,0,0,1.83,0,4.6,4.6,0,0,0,2.26-.83l1-.73a1.57,1.57,0,0,1,1.42-.26,2.48,2.48,0,0,1,1.58,2.68l-5.11,25.54Z" />
                                    <line id="Line_179" data-name="Line 179" class="cls-1" x1="32.31" y1="135.32"
                                        x2="32.31" y2="113" />
                                </g>
                                <path id="Path_322" data-name="Path 322" class="cls-3" d="M31.39,151V165H97.66" />
                                <g id="Group_228" data-name="Group 228">
                                    <path id="Rectangle_48" data-name="Rectangle 48" class="cls-1"
                                        d="M331.53,278.1h9.68v39.75a4.84,4.84,0,0,1-4.84,4.84h0a4.84,4.84,0,0,1-4.84-4.84V278.1Z" />
                                    <rect id="Rectangle_49" data-name="Rectangle 49" class="cls-1" x="328.73" y="273.5"
                                        width="15.28" height="4.61" />
                                    <path id="Path_323" data-name="Path 323" class="cls-1"
                                        d="M338.45,257.42l0-11.6a.17.17,0,0,1,.17-.18.18.18,0,0,1,.15.08L349,260.91a1.67,1.67,0,0,1,0,1.91l-7.64,10.61h-10l-7.46-10.1a1.7,1.7,0,0,1-.05-1.92l10.41-15.69a.18.18,0,0,1,.33.1v11.64" />
                                    <path id="Path_324" data-name="Path 324" class="cls-1"
                                        d="M334.54,257.1a4.1,4.1,0,1,0,5.56,1.65,4.21,4.21,0,0,0-1.76-1.71" />
                                </g>
                                <line id="Line_180" data-name="Line 180" class="cls-3" x1="174.45" y1="225.79"
                                    x2="174.45" y2="262.33" />
                                <line id="Line_181" data-name="Line 181" class="cls-3" x1="200.23" y1="287.98"
                                    x2="327.2" y2="287.98" />
                                <g id="Group_229" data-name="Group 229">
                                    <path id="Path_325" data-name="Path 325" class="cls-1"
                                        d="M138.85,9.59V32.66L160.64,44l21.79-11.36V9.59L160.64,19.2Z" />
                                    <line id="Line_182" data-name="Line 182" class="cls-1" x1="160.64" y1="19.2"
                                        x2="160.64" y2="44.02" />
                                    <path id="Path_326" data-name="Path 326" class="cls-1"
                                        d="M138.59,9.37l22-8.52,22.07,8.48" />
                                </g>
                                <g id="Group_230" data-name="Group 230">
                                    <path id="Path_327" data-name="Path 327" class="cls-1"
                                        d="M182.46,20.43v12l11.3,5.89,11.3-5.89v-12l-11.3,5Z" />
                                    <line id="Line_183" data-name="Line 183" class="cls-1" x1="193.76" y1="25.41"
                                        x2="193.76" y2="38.28" />
                                    <path id="Path_328" data-name="Path 328" class="cls-1"
                                        d="M182.32,20.32l11.44-4.42,11.44,4.4" />
                                </g>
                                <line id="Line_184" data-name="Line 184" class="cls-3" x1="182.71" y1="103.99"
                                    x2="182.43" y2="35.79" />
                                <g id="Group_231" data-name="Group 231">
                                    <path id="Path_329" data-name="Path 329" class="cls-1"
                                        d="M175,282.62l-10,10-2.25,6.7a.17.17,0,0,0,.11.2h.1l6.8-2.5L179.81,287Z" />
                                    <line id="Line_185" data-name="Line 185" class="cls-1" x1="165" y1="292.64"
                                        x2="169.75" y2="297.05" />
                                    <line id="Line_186" data-name="Line 186" class="cls-1" x1="163.76" y1="296.34"
                                        x2="165.93" y2="298.51" />
                                    <rect id="Rectangle_50" data-name="Rectangle 50" class="cls-1" x="176.59" y="278.13"
                                        width="6.46" height="8.75" rx="0.56"
                                        transform="translate(-148.86 218.36) rotate(-46.48)" />
                                    <line id="Line_187" data-name="Line 187" class="cls-2" x1="176.77" y1="279.36"
                                        x2="180.16" y2="282.75" />
                                    <line id="Line_188" data-name="Line 188" class="cls-2" x1="177.63" y1="284.89"
                                        x2="174.57" y2="287.95" />
                                    <line id="Line_189" data-name="Line 189" class="cls-2" x1="170.78" y1="291.78"
                                        x2="167.72" y2="294.85" />
                                    <path id="Rectangle_51" data-name="Rectangle 51" class="cls-1"
                                        d="M184.24,276.28l1.64,1.64a1.93,1.93,0,0,1,0,2.72l-1.58,1.58h0l-4.36-4.36h0l1.58-1.58A1.93,1.93,0,0,1,184.24,276.28Z" />
                                </g>
                                <circle id="Ellipse_169" data-name="Ellipse 169" class="cls-1" cx="174.58" cy="287.98"
                                    r="25.65" />
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            </div>
        </div>
    </section>
</body>

</html>